
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  margin-top: auto;
  width: 100%;
    }   

 h2 {
    font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: right;
  float: right;
    }
  
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
div:hover {
  background-color: cadetblue;

}
