
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  margin-top: auto;
  width: 100%;
    }   

 h2 {
    font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: right;
  float: right;
    }
    a:link {
      background-color: yellow;
    }
    
    a:visited {
      background-color: cyan;
    }
    
    a:hover {
      background-color: lightgreen;
    }
    
    a:active {
      background-color: hotpink;
    } 