/* General Body */
body {
  padding: 0px;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

/* Heading 1 (Name) */
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(50px, 10vw, 200px);
  margin-top: auto;
  width: 100%;
  text-align: left;
  color: #333;
}

/* Heading 2 (Section Titles) */
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #333;
}

/* Contact Info */
.contact-info {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  
}

/* Resume Container */
.resume-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}



/* index intro Container */
.intro-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}


.text-start {
  text-align: left; /* Ensures left-aligned text */
  max-width: 600px; /* Adjust width to prevent overly long lines */
  margin: 20px auto; /* Centers the div */
  padding: 20px; /* Adds spacing inside */
  background-color: #f8f9fa; /* Light gray background */

}
.img.kate-img {

  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
}

.text-start h3 {
  color: #2c3e50; /* Darker blue-gray for the heading */
  font-size: 24px;
}

.text-start p {
  color: #555; /* Slightly dark text for readability */
  line-height: 1.6; /* Increases spacing between lines */
  font-size: 18px;
}


/* Section Styling */
.section {
  margin-bottom: 20px;
}

.job {
  margin-top: 10px;
}

.skills {
  list-style-type: none;
  padding-left: 0;
}

/* List Items (for job duties and skills) */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.custom-navbar {
  background-color: #ff85c0; /* light pink */
  padding: 0px;
  font-family: "Bebas Neue", sans-serif;
  position: sticky;
  top: 0;

}

.custom-navbar .navbar-brand {
  font-weight: 900;
  font-size: 2rem;
  color: #333;
  letter-spacing: 1px;
}

.custom-navbar.navbar-brand:hover { 
    color: white;
    text-decoration: underline;
  }

.custom-navbar .nav-link {
  color: #333;
  font-weight: 900;
  font-size: 1.3rem;
  margin-left: 40px;
}

.custom-navbar .nav-link:hover {
  color: white;
  text-decoration: underline;
  
}



/* Responsiveness (for smaller screens) */
@media (max-width: 768px) {
  h1 {
      font-size: 100px;
  }
  
  h2 {
      font-size: 18px;
  }
}



